body {
    background-image: url(/scott-webb-_3l5B_4E_u0-unsplash.jpeg);
    color: antiquewhite;
    font-family: 'Share Tech Mono', 'monospace';
}

button{
    font-family: 'Share Tech Mono', 'monospace';
    padding: 40px;
    font-size: larger;
}

#confirm-item{
    font-family: 'Share Tech Mono', 'monospace';
    padding: 40px;
    font-size: larger;
}

#container {
    background-color: black;
    display: block;
    text-align: center;
    justify-content: center;
    opacity: 0.8;
    width: auto;
    margin: auto;
    
    
}

#get-item{
    padding: 10px 15px
}

#set-item {
    padding: 25px 25px
}

.form-input {
    margin: auto;
    width: auto;
    display: block;
    padding: 10px;
    text-align:center;
}

#display-after-add{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



input{
    margin-left: 30px;
    width: auto;
    font-family: 'Share Tech Mono', 'monospace';
    font-size: large;
}

#lookup{
    width: 100%;
    background-color: black;
    color: wheat;
}

#message{
    background-color: black;
    font-size: larger;
    transition: ease-in 0.5s;
    margin: 30px;
    padding: 10px;
}



#lookup-id{
    margin: 40px;
    width: auto;
    font-size: larger;
}

h1{
    background-color: black;
    opacity: 0.7;
}